* {
  font-size: 16px;
}

h1 {
  font-size: 18px;
  margin: 20px 0;
}

.app {
  margin: 60px 100px;
}

label {
  display: block;
  margin: 10px 0;
}

label div {
  display: inline-block;
  width: 300px;
}

label button {
  margin-left: 10px;
}

.reachable {
  color: green;
}

.not-reachable {
  color: red;
}